.popup__info {
    border: 0;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 24px;
    border-bottom: 1px solid #bcbcc4;
    background-color: transparent;
    margin-bottom: 30px;
}
.popup__info:nth-child(2) {
    margin-bottom: 0;
}