.profile__data {
    max-width: 336px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .profile__data {
        max-width: 282px;
        justify-content: center;
        margin-bottom: 36px;
    }
}